main{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    margin-bottom: 2rem;
}
#calculator{

}
.num{
    height: 50px;
    width: 50px;
}